@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=UnifrakturMaguntia&display=swap');


:root {
  --font-ui: "Inter", sans-serif;
  --font-brand: "UnifrakturMaguntia", serif;
}


.brand-font {
  font-family: var(--font-brand);
}


.ui-font {
  font-family: var(--font-ui);
}
